:root {
	--main-bg:#380023;
	--main-fg:#B05A8F;
	--fg2:#C9007C;
	--accent1:#1FB512;
	--accent2:#CCF5C9;

	/* --main-bg:#004F42; */
	/* --main-fg:#44C9B3; */
	/* --fg2:#00E0BB; */
	/* --accent1:#CC4510; */
	/* --accent2:#E9A78C; */
}


