html {
	background-color: #eeeeee;
	color: #535353;
}
.wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.container {
	align-items: center;
	flex-flow: column wrap;
	line-height: 2.7em;
}

h1 {
	/* font-weight: bold; */
	font-size: 2.4em;
}

form {
	margin: 0 auto;
	width: 400px;
	display: block;
	/* padding: 1em; */
}

label {
	display: inline-block;
	/* width: 90px; */
	text-align: left;
	font-size: 1.2em;
	font-weight: bold;
}

input, textarea {
	font: 1em monospace;
	width: 30em;
	box-sizing: border-box;
	border: 1px solid #BBB;
}

textarea {
	display:block;
	vertical-align: top;
	/* height: 5em; */
	border-radius: 4px;
	box-shadow: 1px 1px 0.5px #BBB;
	padding: 9px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0
}

/* Literally ripped from Lab 5 Stylesheet */

.submit {
  background-color: #ffc477;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  padding: 10px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 1px #cc9f52;

  margin-top: 15px;
}

.submit:hover {
  background-color: coral;
  border: 2px solid rgb(216, 91, 46);
}

.submit:active {
  position: relative;
  top: 1px;
}
